{% load i18n %}

<div class="nav-wrapper blue">
	<div class="col s12">
		{% for item in breadcrumbs %}
			{% if forloop.last %}
				<a class="breadcrumb"><span>{{ item.name }}</span></a>
			{% else %}
				{% if item.resolved %}
					<a class="breadcrumb" href="{{item.url}}"><span>{{ item.name }}</span></a>
				{% else %}
					<a class="breadcrumb"><span>{{ item.name }}</span></a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>

<!-- <ol class="breadcrumb alert alert-success" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
	{% for item in breadcrumbs %}
		{% if forloop.last %}
		<li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
			<span itemprop="name">{{ item.name }} fdd</span>
			<meta itemprop="position" content='{{item.position}}' />
		</li> 
		{% else %}
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			{% if item.resolved %}
			<a itemprop="item" href="{{item.url}}" >
			<span itemprop="name">{{item.name}} fdsfsdfsdf</span>
			</a>
			<meta itemprop="position" content="{{item.position}}" />
			{%else%}
			<span itemprop="name">{{item.name}} fdsfdsfsdfsdfsdfdsfs</span>
			<meta itemprop="position" content="{{item.position}}" />

			{%endif%}
		</li>
		{% endif %}
	{% endfor %}
</ol> -->

