/* FOOTER INFERIOR */
body {
    background-color: #e8eae6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* BREADCUMB */
.breadcrumb:before {
    content: '\E5CC';
    color: grey;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
}