/* START MATERIALIZE FOOTER */
body {
    background-color: #e8eae6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#id_chips .chip{
    display:block;
    border-radius: 2px;
    font-size: 16px;
    height: auto;
    font-weight: bold;
}