body {
    background-color: #e8eae6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .breadcrumb{
    color: #4db6ac;
}

.nav-wrapper .breadcrumb::before{
    color: #4db6ac;
}

.nav-wrapper .breadcrumb:hover{
    color: teal;
}

.btn-floating{
    background-color: #26a69a;
}

.btn-floating:hover{
    background-color: teal;
}

.card .card-content{
    padding: 18px;
}

#icon-edit{
    color: #42a5f5;
}

#icon-edit:hover{
    color: #90caf9;
}

#icon-delete{
    color: #ef5350;
}

#icon-delete:hover{
    color: #ef9a9a;
}

.material-tooltip {
    color: black;
}

.container .container .card{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}