{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row container">
            <div class="s12 m10 l3 offset-s3">
                {% for categoria in categorias %}
                    <div class="card-panel green card-shaper-title"> 
                        <span class="white-text">{{ categoria.nome }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        {% for transacao in transacoes %}
            
                <div class="col s12 m6 l3">
                    <div class="card-panel blue card-shaper" style="border-radius: 15px 15px; width: auto">
                        <center>
                            <span class="white-text">
                                
                                </br>{{ transacao.descricao }}
                            </span>
                        </center>
                    </div>
                </div>
           
        {% endfor %}
    </div>
{% endblock %}