{% extends 'base.html' %}

{% load static %}
 
{% block content %}

<nav>
    {% for transacao in transactions %}
        <div class="nav-wrapper" style="margin-left: 20px">
            <div class="col s12">
                <a href="{% url 'index' %}" class="breadcrumb">{{transacao.category.name}}</a>
                <a href="#" class="breadcrumb">{{transacao.name}}</a>
            </div>
        </div>
    {% endfor %}
</nav>

<div class="container">
    <div class="container">
        <div class="card card-detalhe">
            <div class="container">
                {% for transaction in transactions %}
                    Nome: {{ transaction.name }}<br>
                    Descrição: {{ transaction.description }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}