{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home | Categorias
{% endblock %}

{% block content %}

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large">
            <i class="large material-icons">menu</i>
        </a>
        <ul class="black-text">
            <li class="black-text">
                <a href="{% url 'register_category' %}" class="btn-floating green btn tooltipped black-text" data-position="top" data-tooltip="Cadastrar">
                    <i class="material-icons">add</i>
                </a>
            </li>
            <li>
                <a href="#" class="btn-floating yellow btn tooltipped" data-position="top" data-tooltip="Editar">
                    <i class="material-icons">edit</i>
                </a>
            </li>
            <li>
                <a href="#" class="btn-floating red btn tooltipped" data-position="top" data-tooltip="Remover">
                    <i class="material-icons">delete</i>
                </a>
            </li>
        </ul>
    </div>
        
    <div class="row center">
        <div class="container">
            <ul>
                {% for category in categorys %}
                    <a href="{% url 'list_transaction' id_category=category.id %}">
                        <div class="container">
                            <div class="col s12 m6">
                                <div class="card-panel card-shaper center">
                                    <span class="white-text">
                                        </br>{{ category.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        // Menu flutuante 
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'top'
            });
        }); 
        // tooltip  
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems);
        });
 
    </script>
{% endblock %}