{% extends 'base.html' %}

{% block content %}

    <nav class="transparent">
        {% for category in categorys %}
            <div class="fixed-action-btn">
                <a href="{% url 'register_transaction' id_category=category.id %}" class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="nav-wrapper" style="margin-left: 20px">
                <div class="col s12">
                    <a href="/" class="breadcrumb"><span>Home</span></a>
                    <a href="{% url 'list_transaction' id_category=category.id %}" class="breadcrumb"><span>{{category.name}}</span></a>
                </div>
            </div>
        {% endfor %}
    </nav>

    <div class="container">
        <div class="s12 m10 l3">
            
            {% for category in categorys %}
               {{ category.name }}
            {% endfor %}
            
        </div>
    </div>
    <div class="row center">
        <div class="container">
            {% for transaction in transactions %}
                {{ transaction.name }}
            {% endfor %}
        </div>
    </div>
{% endblock %}