{% extends 'base.html' %}

{% block content %}

    <section>
        <div class="row">
            <div class="container">
                <div class="row container">
                    <div class="s12 m10 l3 offset-s3">
                        <div class="card-panel green card-shaper-title">
                            <i class="medium material-icons" style="color: white;">Listagem</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                {% for transacao in transacoes %}
                    <a href="{% url 'update' transacao.id %}">
                        <div class="col s12 m6 l3">
                            <div class="card-panel blue card-shaper" style="border-radius: 15px 15px; width: auto">
                                    <span class="white-text"> 
                                        <i class="medium material-icons">{{ transacao.descricao }}</i>
                                        </br>{{ transacao.data }}
                                    </span>
                                    {{ transacao.valor }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}