{% extends 'base.html' %}

{% block title %}
    Transações | Categoria
{% endblock %}

{% block content %}

    <nav class="transparent">
        {% for category in categorys %}
            <div class="fixed-action-btn">
                <a href="{% url 'register_transaction' id_category=category.id %}" class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="nav-wrapper" style="margin-left: 20px">
                <div class="col s12">
                    <a href="/" class="breadcrumb"><span>Home</span></a>
                    <a href="{% url 'list_transaction' id_category=category.id %}" class="breadcrumb"><span>{{category.name}}</span></a>
                </div>
            </div>
        {% endfor %}
    </nav>

    <div class="container">
        <div class="s12 m10 l3">
            {% for category in categorys %}
                <h2>{{ category.name }}</h2>
            {% endfor %}
        </div>
    </div>
    <div class="row center">
        <div class="container">
            {% for transaction in transactions %}
                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                            <h5>{{ transaction.name }}</h5>
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                            <div class="card-action">
                            <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}