{% extends 'base.html' %}

{% load static %}
 
{% load materializecss %}

{% block title %}
    Registrar | Categoria
{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $("#id_hour_generated").attr("type","text"); 

        M.AutoInit();

        var DateField = MaterialDateTimePicker.create($('#id_hour_generated'));
    }); 
</script>

    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col s12 m6 offset-m3">
                    <div class="card">
                        <div class="card-action white-text center">
                            <h3>{{name_page}}</h3>
                        </div>
                        <div class="card-content">
                            <div class="container style-form">                       
                                {{ form|materializecss }} 
                            </div>
                            
                            <div class="form-field center">
                                <p class="center">* Campos obrigatórios.</p>
                        <div class="center text-right">
                                    <a href="/" class="btn btn-secondary" type="button">
                                        <span class="text">voltar</span>
                                    </a>
                                    <button class="btn btn-primary" type="submit">
                                        <span class="text">salvar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}